<div class="container">
    <style>
        td span {
            display: none;
        }
        @media(max-width: 768px) {
            table thead {
                position: absolute;
                top: -9999px;
                right: -9999px;
            }
            table tr {
                display: flex;
                flex-wrap: row;
                flex-wrap: wrap;
                margin-bottom: 3em;
            }
            table tr td {
                width: 100%;
            }
            td span {
                display: inline-block;
                width: 8em;
                font-weight: 700;
            }
        }
    </style>

    <h3>Brushy Creek</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Name</th>
                <th>Location</th>
                <th>Q Sheet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Day</span>Monday</td>
                <td><span>Time</span>545-630</td>
                <td><span>Name</span>Sasquatch</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Wedensday</td>
                <td><span>Time</span>545-630</td>
                <td><span>Name</span>Sasquatch</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Friday</td>
                <td><span>Time</span>545-630</td>
                <td><span>Name</span>Sasquatch</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
        </tbody>
    </table>

    <h3>Ceder Park / Leander</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Name</th>
                <th>Location</th>
                <th>Q Sheet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Day</span>Monday</td>
                <td><span>Time</span>500-545</td>
                <td><span>Name</span>Mettle of Honor</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Wedensday</td>
                <td><span>Time</span>500-545</td>
                <td><span>Name</span>The Greyhound</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Friday</td>
                <td><span>Time</span>500-545</td>
                <td><span>Name</span>The Big House</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Saturday</td>
                <td><span>Time</span>600-645</td>
                <td><span>Name</span>Robin's Hood</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
        </tbody>
    </table>

    <h3>Downtown</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Name</th>
                <th>Location</th>
                <th>Q Sheet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Day</span>Tuesday</td>
                <td><span>Time</span>530-630</td>
                <td><span>Name</span>Capital Punishment</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Wednesday</td>
                <td><span>Time</span>600-700</td>
                <td><span>Name</span>The Bridge</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Saturday</td>
                <td><span>Time</span>700-800</td>
                <td><span>Name</span>The Festival</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
        </tbody>
    </table>

    <h3>Bear Creek</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Name</th>
                <th>Location</th>
                <th>Q Sheet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Day</span>Tuesday</td>
                <td><span>Time</span>600-700</td>
                <td><span>Name</span>Bowie Knife</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Thursday</td>
                <td><span>Time</span>600-700</td>
                <td><span>Name</span>Bowie Knife</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
        </tbody>
    </table>


    <h3>Dripping Springs</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Name</th>
                <th>Location</th>
                <th>Q Sheet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Day</span>Tuesday</td>
                <td><span>Time</span>600-700</td>
                <td><span>Name</span>Hemingway</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
            <tr>
                <td><span>Day</span>Thursday</td>
                <td><span>Time</span>600-700</td>
                <td><span>Name</span>Hemingway</td>
                <td><span>Location</span><a href="#" target="directions">1234 Road St, Cedar Park</a></td>
                <td><span>Q Sheet</span><a href="#" target="qsheet">Sign up</a></td>
            </tr>
        </tbody>
    </table>

    
</div>