<div class="container">
    <div class="card">
        <div class="card-body">
           <h3 class="card-title">F3 Austin Founding</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales scelerisque pharetra. Morbi euismod luctus lobortis. Nulla non sem vitae orci commodo tincidunt. Duis vel viverra libero, sit amet porttitor est. Ut viverra porta eros et maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus velit urna, aliquet nec pretium id, elementum volutpat mauris. Cras imperdiet finibus placerat. Maecenas mollis nibh mi, a dapibus risus gravida a. Cras maximus facilisis enim, vel consequat nisl vulputate id. Fusce sit amet vestibulum lacus, eget vulputate eros. Integer sodales sem sed tellus lobortis, in pretium mauris ornare.</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
           <h3 class="card-title ">First F</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales scelerisque pharetra. Morbi euismod luctus lobortis. Nulla non sem vitae orci commodo tincidunt. Duis vel viverra libero, sit amet porttitor est. Ut viverra porta eros et maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus velit urna, aliquet nec pretium id, elementum volutpat mauris. Cras imperdiet finibus placerat. Maecenas mollis nibh mi, a dapibus risus gravida a. Cras maximus facilisis enim, vel consequat nisl vulputate id. Fusce sit amet vestibulum lacus, eget vulputate eros. Integer sodales sem sed tellus lobortis, in pretium mauris ornare.</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
           <h3 class="card-title ">Second F</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales scelerisque pharetra. Morbi euismod luctus lobortis. Nulla non sem vitae orci commodo tincidunt. Duis vel viverra libero, sit amet porttitor est. Ut viverra porta eros et maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus velit urna, aliquet nec pretium id, elementum volutpat mauris. Cras imperdiet finibus placerat. Maecenas mollis nibh mi, a dapibus risus gravida a. Cras maximus facilisis enim, vel consequat nisl vulputate id. Fusce sit amet vestibulum lacus, eget vulputate eros. Integer sodales sem sed tellus lobortis, in pretium mauris ornare.</p>
        </div>
    </div>
</div>