<style>
    .card-footer {
        justify-content: center;
        display: flex;
    }
</style>

<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fitness, Fellowship and Faith</h5>
                <p class="card-text">
                    F3 is a national network of free, peer-led workouts for men of all ages and fitness levels. Our mission is to plant, grow and serve small workout groups for men for the invigoration of male community leadership.
                </p>
            </div>
            <div class="card-footer">
                <div class="column">
                    <a href="#" class="btn btn-secondary">About F3</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">F3 in Austin, TX</h5>
                <p class="card-text">
                    Established in 2017, our growing free men’s workout group has expanded to many workouts throughout the week, monthly happy hours and coffeeteria, and volunteer work to help our greater Austin community
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-secondary">Workouts</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">F3 Five Core Principles
                </h5>
                <p class="card-text">
                    <ul>
                        <li>Free of Charge</li>
                        <li>Open to all Men</li>
                        <li>Held Outdoors</li>
                        <li>Peer Led</li>
                        <li>Ends with COT</li>
                    </ul>
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary" href="http://f3nation.com" target="_blank" >F3 Nation <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                  </svg></a>
            </div>
        </div>
    </div>
</div>