<div class="container">
    <div class="jumbotron text-center" style="background-image: url('https://files.f3nation.site/uploads/sites/28/2020/10/Image-from-iOS-46.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <img src="f3-logo.png" alt="" style="margin-top: 100px; display: block; width: 8em; margin-left: auto; margin-right: auto; margin-top: -60px;">
        <h1 class="display-4 text-white" style="text-shadow: 0 0 1px black;">F3 Austin</h1>
        <div class="col">
            <div type="button" class="btn btn-secondary btn-large" style="margin-top: 250px;">Find A Workout</div>
        </div>
    </div>
</div>
