<div class="container">
    <div class="jumbotron text-center" style="background-image: linear-gradient(rgba(90, 88, 88, 0.5) 70.71%, rgba(15, 13, 13, 0.829)),url('https://pbs.twimg.com/media/EkX-EOoXkAA-wQ2?format=jpg&name=4096x4096'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <img src="/Users/evgranato/Documents/GitHub/f3austin-relaunch/F3 Austin | Color & White Text.png" alt="" style="padding-top: 50px; margin-top: 100px; display: block; width: 8em; margin-left: auto; margin-right: auto; margin-top: -60px;">
        <div class="col">
            <div type="button" class="btn btn-secondary btn-large" style="margin-top: 250px;">Find A Workout</div>
        </div>
    </div>
</div>
