<div class="container">
    <div class="jumbotron">
        <div class="media">
            <img src="f3-logo.png" class="mr-3 bg-dark rounded" alt="F3 Logo" style="width: 100px;">
            <div class="media-body">
                <h5 class="mt-0">Part of the F3 Nation</h5>
                F3 is a national network of free, peer-led workouts for men. Our mission is to plant, grow and serve small workout groups for men for the invigoration of male community leadership. We welcome men of all ages and fitness levels to our workouts, and have no requirement for membership other than that you show up at the appointed time and place and follow what the workout leader (the “Q” in F3 lingo) does.
            </div>
            <img src="F3 Austin _ Color.svg" class="ml-3 bg-primary rounded p-2" style="width: 100px;">
        </div>
    </div>
</div>