<div class="container">
    <div class="jumbotron">
        <div class="media">
            <img src="f3-logo.png" class="mr-3 bg-dark rounded" alt="F3 Logo" style="width: 100px;">
            <div class="media-body">
                <h5 class="mt-0">Part of the F3 Nation</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus magna sed nisl commodo pellentesque. Suspendisse felis mi, interdum quis mollis in, pellentesque nec orci. Nunc metus dui, semper eget felis non, varius tincidunt lectus.
            </div>
            <img src="F3 Austin _ Color.svg" class="ml-3 bg-primary rounded p-2" style="width: 100px;">
        </div>
    </div>
</div>