<div class="container">
    <h3 class="">Recent News</h3>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">F3 Austin Region Launch</h5>
            <h6 class="card-subtitle text-muted">Jan 16th 2021</h6>
            <p class="card-text mt-3">
                Sed rhoncus dui quis diam tempus, quis dictum magna suscipit. Nulla facilisi. Mauris ornare arcu vitae quam volutpat tempus. Aliquam erat volutpat. Donec nibh arcu, tristique non ullamcorper vel, eleifend mattis massa. Nulla ut iaculis ex, sit amet euismod enim. Morbi maximus lorem sit amet est tincidunt, a condimentum diam porttitor. Praesent in eros quis arcu eleifend ornare...
            </p>
            <a href="#" class="btn btn-primary">Full Post</a>
            <a></a>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>Last updated 3 weeks ago</small>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body text-right">
            <h5 class="card-title">F3 Austin Region Launch</h5>
            <h6 class="card-subtitle text-muted">Jan 16th 2021</h6>
            <p class="card-text mt-3">
                Integer velit felis, rhoncus rutrum sodales sed, faucibus eget lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id mi non massa vehicula pellentesque a vitae nibh. Suspendisse arcu felis, tempus a ex id, gravida rhoncus dui. Suspendisse potenti. Vestibulum purus metus, vulputate id feugiat ut, condimentum et ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </p>
            <a href="#" class="btn btn-primary">Full Post</a>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>Last updated 3 weeks ago</small>
        </div>
    </div>
</div>