<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Fitness</h3>
                <p class="card-text text-center">
                    This is the MAGNET of F3 and it is what attracts other men to join an F3 in the gloomy early mornings.
In F3, leadership of the workout varies from day to day and week to week, meaning that our always-rotating workout leaders are constantly introducing new exercises and ways of doing them. Because participants are challenged and pushed in new ways every day, they achieve an all-around fitness that makes F3 guys supremely fit for endurance challenges, including mud runs, obstacle races, triathlons, marathons and all manner of other adventure challenges.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Fellowship</h3>
                <p class="card-text text-center">
                    This is the GLUE of F3 and it is what makes men stick to F3 through the strong bonds that are formed through our workouts.
There’s something special about pushing through a brutal smokefest with another guy. We encourage those bonds by closing every workout with what we call the COT (Circle of Trust). Every guy gives his birth name, his age and his F3 nickname. Even if you’re brand-new (what we call an FNG), we’ll slap you with an F3 nickname so we can remember who you are the next time you post. We also channel our 2nd F through weekly happy hours and coffeeteria to bond outside of workouts.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Faith
                </h3>
                <p class="card-text text-center">
                    This is the DYNAMITE of F3 and it is what gives the men of F3 purpose to lead and give back to our community.
Faith in F3 is defined, not as one specific religion or faith system, but simply a belief in something outside oneself. Simply put, once men begin to see the positive benefits they receive physically because of the 1st F and the positive benefits they receive emotionally because of the 2nd F, they naturally shift their attention towards sharing this positivity with others in their community. In essence, our 3rd F becomes the driving force in our desire to give back and serve others in need.
                </p>
            </div>
        </div>
    </div>
</div>