<div class="container bg-block">
    <div class="contianer what-is-f3">
        <h2>Still Not Sure F3 Is Right For You?</h2>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/rGo03Y1ZZ3I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="container video-footer">
          <h3>F3 Intro Video</h3>
      </div>
</div>