<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
</style>
<style>
    .navbar-nav .nav-link.active {
        background-color: grey;
        color: white;
    }
    body {
        background: #bdc3c7; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #bdc3c7, #2c3e50);
    }
    .nav-item .nav-link {
        color: black;
    }
    .card-deck {
        padding-bottom: 2em;
    }
    a:hover {
        background-color: grey;
    }
    .credo {
        padding-top: 2em;
        padding-bottom: 2em;
        color: white;
    }
    .what-is-f3 {
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .what-is-f3 h2 {
        font-weight: bold;
    }
    .video-footer {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .bg-block {
        background-color:rgba(134, 130, 130, 0.068);
    }
    .ham-color {
        color: black;
    }
    .workouts-nav {
        color: black;
        font-weight: bold;
        font-size: 2em;
    }
</style>
<!-- MADE THIS COLLAPSABLE NEED TO WORK ON KEEPING WORKOUTS OUTSIDE OF THE COLLAPSE-->
<nav class="navbar navbar-expand-xl sticky-top navbar-light bg-light">
    <div class="navbar-brand bg-secondary rounded pr-3 pl-3">
        <img class="img-fluid" src="F3 Austin _ White (Long).svg" width="150px">
    </div>
    <div class="navbar-collapse-lg">
    <div class="nav-item">
        <span><a class="workouts-nav nav-link" href="workouts.html">Workouts</a></span>
    </div>
</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ham-color"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar nav">
            <li class="nav-item"><a class="nav-link active" id="home" href="home.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" id="about-us" href="about-us.html">About Us</a></li>
            <li class="nav-item"><a class="nav-link" id="schedule" href="schedule.html">Schedule</a></li>
            <li class="nav-item"><a class="nav-link" id="backblasts" href="backblasts.html">Backblasts</a></li>
            <li class="nav-item"><a class="nav-link" id="contact-us" href="contact-us.html">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="http://f3nation.com" target="_blank">F3 Nation <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
            </svg></a></li>
    </ul>
    </div>
</nav>