<div class="container">
    <div class="jumbotron text-center" style="background-image: linear-gradient(rgba(95, 94, 94, 0.5), rgba(0, 0, 0, 0.829)),url('https://pbs.twimg.com/media/Bqifho2CYAIUbf7.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <img src="F3 Austin _ White (Long).svg" alt="" style="margin-top: 200px; display: block; width: 40em; margin-left: auto; margin-right: auto">
        <h1 class="display-4 text-white">Post A Backblast</h1>
        <p class="lead text-white"></p>
    </div>
</div>